body
{
	background: url("image_plume.jpg");
	width:auto;
}

@media all and (max-width:800px)
{
	body
	{
		background:url("image_plume.jpg");
		width:auto;
	}
		
		
	.salle
	{
		width:350px;
		height:350px;
		margin-left:50px;
	}
	h2
	{
		text-align:center;
		width:20%;
	}
	
	h1
	{
		width:35%;
		text-align:center;
	}
	p
	{
		text-align:center;
		width:30%;
	}
	
	.em
	{
		font-style:italic;
	}
	
	
	
}

	
.bloc-page
{
	width: 1500px;
}
#logo-vert
{
	background-position:to right;
	margin-left: 30px;
	margin-top: 120px;
}

#titre-principal
{
	color:blue;
}

.salle
{
	margin:100px;
	
}

h1
{
	width:50%;
	position:absolute;
	top:0px;
	margin :auto;
	border:3px black groove;
	box-shadow: 6px 6px 3px black;
	text-align:center;
	font-size: 60px;
}

h2
{
	text-align:center;
}
p
{
	text-align:center;
	font-size:25px;
	font-weight: bold;
}
ul
{
	list-style-type:none;
	display:flex;
}
nav li
{
	margin-right:25px;
}
nav a
{
	text-decoration:none;
	font-size:25px;
	border:2px solid blue;
	padding:2px;
	
}

a:hover
{
	color:green;
}

li
{
	color :navy;
	font-size:20px;	
	font-weight: bold;
}

article
{
	text-align:center;
}


