body
{
	width:auto;
	background-color: rgb(300,250,200);
}
section
{
	border:3px green double;
	border-radius:10px;
}
aside
{
	border:3px green double;
	border-radius:10px;
}
h1
{
	border:3px green double;
	border-radius:10px;
	text-align:center;
	background-color:white;
}
p
{
	text-align:center;
	font-size:2em;

}
footer
{
	text-align:center;
	border:2px green double;
	border-radius:10px;
	background-color:white;

}
a
{
	text-decoration:none;
	font-size:2em;
}